@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Permanent+Marker&family=Roboto&display=swap");

body {
  background: #100c08;
  font-size: 5em;
  font-family: "Roboto", sans-serif;
}

.clock {
  color: #f5f5f5;
  margin: 100px auto;
  text-align: center;
  align-items: center;
}

.clock span {
  text-shadow: 2px 2px 8px #191955;
}

footer {
  font-size: 20px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: #dee2e6;
}
